*.elc
.DS_Store
.cask
.places
/.mc-lists.el
/elpa/
/emojis
/request
/transient/
GPATH
GRTAGS
GTAGS
TAGS
TODO.org
abbrev_defs
ac-comphist.dat
auto-save-list
bookmarksido.last
ede-projects.el
emacs_config.proj
eshell
games
ido.last
ido.last~
network-security.data
places
private.el
projectile-bookmarks.eld
projectile.cache
recentf
smex-items
tramp
url
var